{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CV Personal </title>
</head>

<body>
    <section class="menu">
        <a class="menu-item active" id="about"> <i class="fas fa-user"></i> Sobre mi</a>
        <a class="menu-item" id="skills"> <i class="fas fa-feather-alt"></i> Skills</a>
        <a class="menu-item" id="resume"> <i class="fas fa-list-alt"></i> Resume</a>
        <a class="menu-item" id="works"> <i class="fas fa-tasks"></i> Trabajos</a>
    </section>

    <section class="profile">
        <div class="img-container"></div>
        <div class="profile-body">
            <p class="name">Jose Cortes</p>
            <p class="role">Desarrollo web y UI/UX </p>
            <p class="role">joalcoay94@gmail.com </p>
            <div class="socials">
               
                <a href="https://www.facebook.com/alberto.ayala.16"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/jose-alberto-cortes-ayala-ba779b15b/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/josealbertocortes"><i class="fab fa-github"></i></a>
        
            </div>
        </div>
        <div class="actions">
            <button> <a href="https://drive.google.com/file/d/1rJtuXy_1IxXtj_DDeoD-iE7HXgF1CoHl/view?usp=sharing">Descarga CV</a> </button>
            <button> <i class="fas fa-mobile-alt"></i>  554-117-3826</button>
            
        </div>
    </section>

    <section class="main">

        <section class="asset split about" id="about-section">
            <p class="title section-item"><span>Sobre</span> mi</p>
            <div class="asset-body">
                <div class="section-item">
                    <p>Desarrollador web con conocimientos UX/UI. Mi objetivo es convertir ideas en productos digitales
                        siempre centrados en el usuario. 
                    </p>
                </div>
                <div class="section-item">
                    <div class="item">
                        <label>Edad <span>.....</span></label>
                        <p class="value">26</p>
                    </div>
                    <div class="item">
                        <label>Ciudad <span>.....</span></label>
                        <p class="value">Ciudad de México</p>
                    </div>
              
                </div>
            </div>
        </section>

        <section class="asset">
            <p class="title section-item"><span>Campos</span> Principales</p>
            <div class="asset-body">
                <div class="domains section-item">

                    <div class="domain-item">
                        <i class="fas fa-paint-brush"></i>
                        <p class="domain-name">UX/UI</p>
                        <p>Diseño centrado en usuarios</p>
                    </div>
                    <div class="domain-item">
                        <i class="fas fa-code"></i>
                        <p class="domain-name">Full-Stack python</p>
                        <p>Creación de productos digitales con Django</p>
                    </div>
                

                </div>
            </div>
        </section>

        <section class="asset split" id="skills-section">
            <p class="title section-item"><span>H</span>abilidades</p>
            <div class="asset-body">
                <div class="section-item">
                    <p class="title"><i class="fas fa-code"></i>Programación</p>
                    <ul>
                        <li><i class="fas fa-check"></i>HTML</li>
                        <li><i class="fas fa-check"></i>CSS</li>
                        <li><i class="fas fa-check"></i>Javascript</li>
                        <li><i class="fas fa-check"></i>python</li>
                        <li><i class="fas fa-check"></i>Django</li>
                  
                    </ul>
                </div>
                <div class="section-item">
                    <p class="title"><i class="fas fa-tools"></i>Herramientas</p>
                    <ul>
                        <li class="ide"><i class="fas fa-check"></i>VS Code</li>
                        
                        <li class="ide"><i class="fas fa-check"></i>Atom</li>
                        
                        <li class="ui"><i class="fas fa-check"></i>Figma</li>
                  
                    </ul>
                </div>
            </div>
        </section>

        <section class="asset split" id="resume-section">
            <p class="title section-item"><span>R</span>esume</p>
            <div class="asset-body">

                <div class="section-item">
                    <p class="title">Experiencia</p>
                    <div class="section-sub-item">
                        <p class="time current">2020 - 2021</p>
                        <p class="item-name">Programador </p>
                        <p class="additional-info">Meganucleo</p>
                        <p class="description">Maquetación de aplicativos web 
                        </p>
                        <p class="description">Desarrollo Front-end y Back-end
                        </p>
                        <p class="description">Consumo de apis e intregación de metodos de pago
                        </p>

                    </div>
                    
                </div>

                <div class="section-item">
                    <p class="title">EDUCATION</p>
                    <div class="section-sub-item">
                        <p class="time">2020 - 2021</p>
                        <p class="item-name">Bedu</p>
                        <p class="additional-info">Desarrollo web/ Diseño UX/UI</p>
                        <p class="description">Desarrollo de aplicaciones web desde el UX-Resarch hasta la programación con el framework Django</p>
                    </div>
                    <div class="section-sub-item">
                        <p class="time">2018-2020</p>
                        <p class="item-name">Facultad de Quimica</p>
                        <p class="additional-info">Maestría en Ingeniería de procesos </p>
                        <p class="description">Metodologías agiles para la creación de productos </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="asset" id="works-section">
            <p class="title section-item"><span>Projectos</span> recientes</p>
            <div class="asset-body grid">

                <div class="work-item">
                    <div class="img-content">
                        <img src="{% static 'css/images/proj3.jpeg' %}"  alt="project image">
                        <a href="https://mvno.teamvox.com/login" class="more-overlay">Más información</a>
                    </div>
                    <p class="project-name">MVNO </p>
                </div>

         

                <div class="work-item">
                    <div class="img-content">
                        <img src="{% static 'css/images/proj6.jpg' %}" alt="project image">
                        <a href="https://mobsec.seekurity.com/" class="more-overlay">Más información</a>
                    </div>
                    <p class="project-name">Mobile security</p>
                </div>

         

               
            </div>
        </section>

    </section>


    <script>
        var aboutSection = document.getElementById("about-section");
        var skillsSection = document.getElementById("skills-section");
        var resumeSection = document.getElementById("resume-section");
        var worksSection = document.getElementById("works-section");

        const menuLinks = document.querySelectorAll('.menu .menu-item');
        menuLinks.forEach(el => {
            el.addEventListener('click', function () {

                let sectionToGo = aboutSection;

                switch (this.id) {
                    case 'skills':
                        sectionToGo = skillsSection;
                        break;
                    case 'resume':
                        sectionToGo = resumeSection;
                        break;
                    case 'works':
                        sectionToGo = worksSection;
                        break;
                }
                // Scroll smoothly to section
                sectionToGo.scrollIntoView({behavior: 'smooth'});
            })
        })

    </script>
</body>

</html>